Declare a variable named days_in_week and assign it the number of days in a week. Print the variable.

In [3]:
days_in_week=7

Given two variables a = 15 and b = 4, calculate and print their sum, difference, product, and quotient.

a=15
b=4
sum=a+b
sub=a-b
product=a*b
quotient=a//b
print(sum)
print(sub)
print(product)
print(quotient)

Convert the string "123" to an integer and assign it to a variable named number. Print the type of number to confirm the conversion.

In [13]:
number="123"

In [15]:
int(number)

123

Concatenate the following two strings: first_name and last_name into a full name and print the result. Assume the variables have already been defined.

In [28]:
first_name="alok"
last_name="kumar"

In [32]:
name=first_name + " "+ last_name

In [34]:
print(name)

alok kumar

Start with the variable score = 0. Add 5 to score, then multiply score by 3, and subtract 2. Print the final score.

In [39]:
score=0
score=(5*3/2)
print(score)

7.5

Create a boolean variable is_sunny to represent if the weather is sunny or not. Set it to True if it is sunny and False otherwise. Print the variable.

In [20]:
#input
weather=input("How's the wheather today")
print(weather)

How's the wheather today alok

alok

In [22]:
is_sunny=False
type(is_sunny)

bool

In [24]:
if weather == 'sunny':
    is_sunny=True
print(is_sunny)

False

Create a variable data and assign it an integer value. Then, reassign data to a string. Print the type of data before and after the reassignment.

In [96]:
alok=123

In [98]:
str(alok)

'123'

Write a program that asks the user for their name and their age. Print a message greeting them and mentioning how old they are.

In [28]:
name=input()
age=int(input())

a=f'how old they are {age} aa '
print(a)

 alok
 55

how old they are 55 aa

Swap the values of two variables x and y. If initially x = 10 and y = 5, ensure x becomes 5 and y becomes 10. Print the swapped values.

In [55]:
x=10
y=5
z=0
z=y
y=x
x=z
print(x,y)

5 10

In [67]:
x=10
y=5
x=x+y
y=x-y
x=x-y
print(x,y)

5 10

Perform integer division and find the remainder when dividing 45 by 6.

In [105]:
division=45//6
remainder=45%6
print(remainder)
print(division)

3
7

Round the number 7.654321 to 2 decimal places.

In [118]:

round(7.654321,2)

7.65

Convert the float 123.456 to an integer.

In [30]:

n=123.54
int(n)

123

In [32]:
x=int(123.432)
print(x)

123

Assign the result of 0.1 + 0.2 to a variable and print it. Discuss the observed output.

In [138]:
result=0.1
result1=0.2
print(result+result1)

0.30000000000000004

Calculate the average of the numbers 23, 95, 40, and 67. Print the result.

In [143]:
a=[23,95,40,67]
for i in a:
    l1=[]
    l1.append(i)
print(l1)

[67]

In [145]:
l1

[67]

Find the absolute value of -20.

In [35]:
abs(-20)

20

Calculate 2 raised to the power of 5.

In [44]:
pow(5,2)

25

Explain why directly comparing two floats for equality might not always work as expected. Provide an example.

In [77]:
a=2.51
b=2.50
a==b

False

Write a number representing one billion in Python using scientific notation.

In [81]:
10**6

1000000

Increment the variable counter from 0 to 10 using a loop, printing its value at each step.

In [53]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

Calculate the average of the numbers 23, 95, 40, and 67. Print the result.

In [69]:
avg=0
l=[23,95,40,67]
l1=[]
sum1=0
for i in l:
    sum1+=i
print(sum1)    
avg=sum1/len(l)    
print(avg)

225
56.25

TypeError: 'int' object is not callable

TypeError: 'int' object is not callable

Assign the result of 0.1 + 0.2 to a variable and print it. Discuss the observed output.

In [57]:
a=0.1
b=0.2
print(a+b)

0.30000000000000004