#How do you comment code in Python? What are the different types of comments?

In [16]:
#To use comment in python as a 
#there are a two types of comment 
#1.#(single comment)
#2.(multiple comment) """  """

What are variables in Python? How do you declare and assign values to variables?

In [19]:
#In Python, a variable is a named container that stores a value. To assign a value to a variable, you use the assignment operato
# a=5

How do you convert one data type to another in Python?

In [22]:
#In Python, you can convert one data type to another using type conversion functions. 
#These functions include int(), float(), str(), and list()

Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [25]:
my_list=[1,2,3,4,5]

In [31]:
my_list[1:3:1]

[2, 3]

What is a complex number in mathematics, and how is it represented in Python?

In [34]:
a=5+6j

In [36]:
a.real

5.0

In [40]:
a.imag

6.0

What is the correct way to declare a variable named age and assign the value 25 to it?

In [43]:
age=25

In [45]:
age

25

Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [48]:
price=9.99

In [50]:
type(price)

float

Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [53]:
s="alok_kumar"

In [55]:
s

'alok_kumar'

Given the string "Hello, World!", extract the substring "World".

In [59]:
string="Hello,World!"

In [67]:
string[6:11:1]

'World'

Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [70]:
is_student=True

In [72]:
is_student

True